
.example-box {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #ddd;
}

.off-screen {
  position: relative;
}

.off-screen > div:nth-of-type(2) {
  position: absolute;
  top: -200px;
  left: -600px;
  transition: left 0.25s ease-in-out, top 0.25s ease-in-out;
}
